<a href="https://colab.research.google.com/github/xxihe/sandbox2019/blob/master/intro1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# An introduction to solving biological problems with Python: 1

## Learning objectives
- **Recall** how to print, create variables and save Python code in files
- **List** the most common data types in Python
- **Explain** how to use different type of collections
- **Use and compare** these concepts in different code examples 
- **Propose and create** solutions using these concepts in different exercises

# Part 1.1: Variables

-----

 - Printing values
 - Using variables

## Printing values

The first bit of python syntax we're going to learn is the <tt>print</tt> statement. This command lets us print messages to the user, and also to see what Python thinks is the value of some expression (very useful when debugging your programs).

We will go into details later on, but for now just note that to print some text you have to enclose it in  "quotation marks". 

We will go into detail on the arithmetic operations supported in python shortly, but you can try exploring python's calculating abilities.

In [1]:
print("Hello from python!")

Hello from python!

In [2]:
print(34)

34

In [3]:
print(2 + 3)

5

You can print  multiple expressions you need to seperate them with commas. Python will insert a space between each element, and a newline at the end of the message (though you can suppress this behaviour by leaving a trailing comma at the end of the command).

In [4]:
print("The answer:", 42)

The answer: 42

## Exercises 1.1.1

1. In Jupyter, insert a new cell below this one to print your name. Execute the code by pressing `run cell` from the menu bar or use your keyboard `Ctrl-Enter`.
2. Do now the same using the interpreter

## Using variables

In the <tt>print</tt> commands above we have directly operated on values such as text strings and numbers. When programming we will typically want to deal with rather more complex expressions where it is useful to be able to assign a name to an expression, especially if we are trying to deal with multiple values at the same time.

We can give a name to a value using _variables_, the name is apt because the values stored in a variable can _vary_. Unlike some other languages, the type of value assigned to a variable can also change (this is one of the reasons why python is known as a _dynamic_ language).

A variable can be assigned to a simple value...

In [5]:
x = 3
print(x)

3

... or the outcome of a more complex expression.

In [6]:
x = 2 + 2
print(x)

4

A variable can be called whatever you like (as long as it starts with a character, it does not contain space and is meaningful) and you assign a value to a variable with the **`=` operator**. Note that this is different to mathematical equality (which we will come to later...)

You can <tt>print</tt> a variable to see what python thinks its current value is.

In [7]:
serine = "TCA"
print(serine, "codes for serine")
serine = "TCG"
print("as does", serine)

TCA codes for serine
as does TCG

In the interactive interpreter you don't have to <tt>print</tt> everything, if you type a variable name (or just a value), the interpreter will automatically print out what python thinks the value is. Note though that this is not the case if your code is in a file.

In [8]:
3 + 4

7

In [9]:
x = 5
3 * x

15

Variables can be used on the right hand side of an assignment as well, in which case they will be evaluated before the value is assigned to the variable on the left hand side.

In [10]:
x = 5
y = x * 3
print(y)

15

or just `y` in the interpreter and in Jupyter notebook

In [11]:
y

15

You can use the current value of a variable itself in an assignment

In [12]:
y = y + 1
y

16

In fact this is such a common idiom that there are special operators that will do this implicitly (more on these later)

In [14]:
y += 1
y

18

## Exercises 1.1.2

In the interpreter:

1. Create a variable and assign it the string value of your first name, assign your age to another variable (you are free to lie!), print out a message saying how old you are
2. Use the addition operator to add 10 to your age and print out a message saying how old you will be in 10 years time

# Part 1.2: Simple data types

-----

 - Simple data types
 - Comments
 - Arithmetic

## Simple data types

Python (and computers in general) treats different types of data differently. Python has 4 main basic data types. Types are useful to constrain some operations to a certain category of variables. For example it doesn't really make sense to try to divide a string.

We will see some examples of these in use shortly, but for now let's see all of the basic types available in python.

### Integers

Integers represent whole numbers, as you would use when counting items, and can be positive or negative.

In [15]:
i = -7
j = 123
print(i, j)

-7 123

### Floats

Floating point numbers, often simply referred to as <tt>float</tt>s, are numbers expressed in the decimal system, i.e. 2.1, 999.998, -0.000004 etc. The value 2.0 would also be interpreted as a floating point number, but the value 2, without the decimal point will not; it will be interpreted as an integer.

In [0]:
x = 3.14159
y = -42.3
print(x * y)

Floating point numbers can also carry an <tt>e</tt> suffix that states which power of ten they operate at.

In [0]:
k = 1.5e3
l = 3e-2
print(k)
print(l)

### Strings

Strings represent text, i.e. "strings" of characters. They can be delimited by single quotes <tt>‘</tt> or double quotes <tt>“</tt>, but you have to use the same delimiter at both ends. Unlike some programming languages, such as Perl, there is no difference between the two types of quote, although using one type does allow the other type to appear inside the string as a regular character.

Normally a python statement ends at the end of the line, but if you want to type a string over several lines you can enclose it in triple quotation marks.

In [0]:
s = "ATGTCGTCTACAACACT"
t = 'Serine'
u = "It's a string with apostrophes"
v = """A string that extends
over multiple lines"""
print(v)

### Booleans

Boolean values represent truth or falsehood, as used in logical operations, for example. Not surprisingly, there are only two values, and in Python they are called <tt>True</tt> and <tt>False</tt>.

In [16]:
a = True
b = False
print(a, b)

True False

### The <tt>None</tt> object

The None object is special built-in value which can be thought of as **representing nothingness or that something is undefined**. For example, it can be used to indicate that a variable exists, but has not yet been set to anything specific.

In [17]:
z = None
print(z)

None

### Object type

You can check what type python thinks an expression is with the <tt>type</tt> function, which you can call with the name <tt>type</tt> immediately followed by parentheses enclosing the expression you want to check (either a variable or a value), e.g. <tt>type(3)</tt>. (This is the general form for calling functions, we'll see lots more examples of functions later...)

In [18]:
a = True
print(a, "is of", type(a))

True is of <class 'bool'>

In [19]:
i = -7
print(i, "is of", type(i))

-7 is of <class 'int'>

In [20]:
x = 12.7893
print(x, "is of", type(x))

12.7893 is of <class 'float'>

In [21]:
s = "ATGTCGTCTACAACACT"
print(s, "is of", type(s))

ATGTCGTCTACAACACT is of <class 'str'>

In [22]:
z = None
print(z, "is of", type(z))

None is of <class 'NoneType'>

## Comments

When you are writing a program it is often convenient to annotate your code to remind you what you were (intending) it to do. In programming these annotations are known as _comments_. You can include a comment in python by prefixing some text with a <tt>#</tt> character. All text following the <tt>#</tt> will then be ignored by the interpreter. You can start a comment on its own line, or you can include it at the end of a line of code.

It is also often useful to temporarily remove some code from a script without deleting it. This is known as _commenting out_ some code.

In [23]:
print("Hi") # this will be ignored
# as will this
print("Bye")
# print "Never seen"

Hi
Bye

## Arithmetic

Python supports all the standard arithmetical operations on numerical types, and mostly uses a similar syntax to several other computer languages:

In [24]:
x = 4.5
y = 2

print('x', x, 'y', y)
print('addition x + y =', x + y) 
print('subtraction x - y =', x - y) 
print('multiplication x * y =', x * y) 
print('division x / y =', x / y)

x 4.5 y 2
addition x + y = 6.5
subtraction x - y = 2.5
multiplication x * y = 9.0
division x / y = 2.25

In [25]:
x = 4.5
y = 2

print('x', x, 'y', y)
print('division x / y =', x / y)
print('floored division x // y =', x // y) 
print('modulus (remainder of x/y) x % y =', x % y) 
print('exponentiation x ** y =', x ** y)

x 4.5 y 2
division x / y = 2.25
floored division x // y = 2.0
modulus (remainder of x/y) x % y = 0.5
exponentiation x ** y = 20.25

As usual in maths, division and multiplication have higher precedence than addition and subtraction, but arithmetic expressions can be grouped using parentheses to override the default precedence

In [0]:
x = 13
y = 5

print('x * (2 + y) =', x * (2 + y))
print('(x * 2) + y =', (x * 2) + y)
print('x * 2 + y =', x * 2 + y)

You can mix (some) types in arithmetic expressions and python will apply rules as to the type of the result

In [0]:
13 + 5.0

You can force python to use a particular type by converting an expression explicitly, using helpful named functions: <tt>float</tt>, <tt>int</tt>, <tt>str</tt> etc.

In [0]:
float(3) + float(7)

In [0]:
int(3.14159) + 1

The addition operator `+` allows you also to concatenate strings together.

In [0]:
print('number' + str(3))

Division in Python 2 sometimes trips up new (and experienced!) programmers. If you divide 2 integers you will only get an integer result. If you want a floating point result you should explicitly cast at least one of the arguments to a <tt>float</tt>.

In [0]:
print("3/4 =", 3/4) # in Python 2, you would get 0
print("3.0/4 =", 3.0/4)
print("float(3)/4 =", float(3)/4)

There are a few shortcut assignment statements to make modifying variables directly faster to type

In [0]:
x = 3
x += 1 # equivalent to x = x + 1
x

In [0]:
x = 2
y = 10
y *= x
y

These shortcut operators are available for all arithmetic and logical operators.

## Exercises 1.2.1

In the interpreter:

Assign numerical values to 2 variables, calculate the mean of these two variables and store the result in another variable. Print out the result to the screen.

## Exercises 1.2.2

Create a new Python file to solve these exercises. It is good practice to create a new file each time you solve a new problem.

1. Look up the <a href="http://en.wikipedia.org/wiki/DNA_codon_table">genetic code</a>. Create four string variables that store possible DNA encodings of serine (S), leucine (L), tyrosine (Y) and cysteine (C). Where multiple codings are available, just pick one for now.
2. Create a variable containing a possible DNA sequence for the protein sequence SYLYC. (Note that the addition operator <tt>+</tt> allows you to concatenate strings together.) Print the DNA sequence.
3. Include a comment in your file to remind you the purpose of the script.

# Part 1.3: Tuples, Lists, Strings

-------

 - Tuples
 - Lists
 - Manipulating tuples and lists
 - String manipulations

As well as the basic data types we introduced above, very commonly you will want to store and operate on collections of values, and python has several _data structures_ that you can use to do this. The general idea is that you can place several items into a single collection and then refer to that collection as a whole. Which one you will use will depend on what problem you are trying to solve.

## Tuples

- Can contain any number of items
- Can contain different types of items
- __Cannot__ be altered once created (they are immutable)
- Items have a defined order

A tuple is created by using round brackets around the items it contains, with commas seperating the individual elements.

In [26]:
a = (123, 54, 92) # tuple of 4 integers
b = () # empty tuple
c = ("Ala",) # tuple of a single string (note the trailing ",")
d = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(123, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)

You can of course use variables in tuples and other data structures

In [0]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

Tuples can be _packed_ and _unpacked_ with a convenient syntax. The number of variables used to unpack the tuple must match the number of elements in the tuple.

In [27]:
t = 2, 3, 4 # tuple packing
print('t is', t)
x, y, z = t # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)

t is (2, 3, 4)
x is 2
y is 3
z is 4

## Lists

- Can contain any number of items
- Can contain different types of items
- __Can__ be altered once created (they are _mutable_)
- Items have a particular order

Lists are created with square brackets around their items:

In [28]:
a = [1, 3, 9]
b = ["ATG"]
c = []

print(a)
print(b)
print(c)

[1, 3, 9]
['ATG']
[]

Lists and tuples can contain other list and tuples, or any other type of collection:

In [29]:
matrix = [[1, 0], [0, 2]]
print(matrix)

[[1, 0], [0, 2]]

You can convert between tuples and lists with the <tt>tuple</tt> and <tt>list</tt> functions. Note that these create a new collection with the same items, and leave the original unaffected.

In [30]:
a = (1, 4, 9, 16)     # A tuple of numbers
b = ['G','C','A','T'] # A list of characters

print(a)
print(b)

l = list(a)   # Make a list based on a tuple 
print(l)

t = tuple(b)  # Make a tuple based on a list
print(t)

(1, 4, 9, 16)
['G', 'C', 'A', 'T']
[1, 4, 9, 16]
('G', 'C', 'A', 'T')

## Manipulating tuples and lists

Once your data is in a list or tuple, python supports a number of ways you can access elements of the list and manipulate the list in useful ways, such as sorting the data.

Tuples and lists can generally be used in very similar ways.

### Index access

You can access individual elements of the collection using their _index_, note that the first element is at index 0. Negative indices count backwards from the end.

In [31]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [123, 54, 92, 87, 33]
x[-1] is 33

### Slices

You can also access a range of items, known as _slices_, from inside lists and tuples using a colon `:` to indicate the beginning and end of the slice inside the square brackets. **Note that the slice notation `[a:b]` includes positions from `a` up to _but not including_ `b`**.

In [32]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

### `in` operator
You can check if a value is in a tuple or list with the <tt>in</tt> operator, and you can negate this with <tt>not</tt>

In [33]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

123 in [123, 54, 92, 87, 33] True
234 in (123, 54, 92, 87, 33) False
999 not in [123, 54, 92, 87, 33] True

### `len()` and `count()` functions
You can get the length of a list or tuple with the in-built <tt>len()</tt> function, and you can count the number of particular elements contained in a list with the <tt>.count()</tt> function.

In [34]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

length of t is 5
number of 33s in x is 1

### Modifying lists
You can alter lists in place, but not tuples

In [35]:
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

[123, 54, 92, 87, 33]
[123, 54, 33, 87, 33]

Tuples _cannot_ be altered once they have been created, if you try to do so, you'll get an error.

In [36]:
t = (123, 54, 92, 87, 33)
print(t)
t[1] = 4

(123, 54, 92, 87, 33)

TypeError: ignored

You can add elements to the end of a list with <tt>append()</tt>

In [37]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

or insert values at a certain position with <tt>insert()</tt>, by supplying the desired position as well as the new value

In [38]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

You can remove values with <tt>remove()</tt>

In [39]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

and delete values by index with <tt>del</tt>

In [40]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87, 33]
[54, 92, 87, 33]

It's often useful to be able to combine arrays together, which can be done with <tt>extend()</tt> (as <tt>append</tt> would add the whole list as a single element in the list)

In [41]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

The plus symbol <tt>+</tt> is shorthand for the extend operation when applied to lists:

In [42]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

Slice syntax can be used on the left hand side of an assignment operation to assign subregions of a list

In [43]:
a = [1, 2, 3, 4, 5, 6]
a[1:3] = [9, 9, 9, 9]
print(a)

[1, 9, 9, 9, 9, 4, 5, 6]

You can change the order of elements in a list

In [44]:
a = [1, 3, 5, 4, 2]
a.reverse()
print(a)
a.sort()
print(a)

[2, 4, 5, 3, 1]
[1, 2, 3, 4, 5]

Note that both of these change the list, if you want a sorted copy of the list while leaving the original untouched, use <tt>sorted()</tt>

In [45]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

[2, 5, 7, 1]
[1, 2, 5, 7]

### Getting help from the official Python documentation

The most useful information is online on https://www.python.org/ website and should be used as a reference guide.

- [Python 3.5.2 documentation](https://docs.python.org/3/) is the starting page with links to tutorials and libraries' documentation for Python 3
    - [The Python Tutorial](https://docs.python.org/3/tutorial/index.html)
    - [The Python Standard Library Reference](https://docs.python.org/3/library/index.html) is the documentation of all libraries included within Python as well as built-in functions and data types like:
        - [Text Sequence Type — `str`](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)
        - [Numeric Types — `int`, `float`](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)
        - [Sequence Types — `list`, `tuple`](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)
        - [Set Types — `set`](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)
        - [Mapping Types — `dict`](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)
        
### Getting help directly from within Python using `help()`

In [46]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [47]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [0]:
help(list.insert)

In [0]:
help(list.count)

## Exercise 1.3.1

1. Create a list of DNA codons for the protein sequence CLYSY based on the codon variables you defined previously.
2. Print the DNA sequence of the protein to the screen.
3. Print the DNA codon of the last amino acid in the protein sequence.
4. Create two more variables containing the DNA sequence of a stop codon and a start codon, and replace the first element of the DNA sequence with the start codon and append the stop codon to the end of the DNA sequence. Print out the resulting DNA sequence.

## String manipulations

Strings are a lot like tuples of characters, and individual characters and substrings can be accessed and manipulated using similar operations we introduced above.

In [48]:
text = "ATGTCATTTGT"
print(text[0])
print(text[-2])
print(text[0:6])
print("ATG" in text)
print("TGA" in text)
print(len(text))

A
G
ATGTCA
True
False
11

Just as with tuples, trying to assign a value to an element of a string results in an error

In [49]:
text = "ATGTCATTTGT"
text[0:2] = "CCC"

TypeError: ignored

Python provides a number of useful functions that let you manipulate strings

The <tt>in</tt> operator lets you check if a substring is contained within a larger string, but it does not tell you where the substring is located. This is often useful to know and python provides the <tt>.find()</tt> method which returns the index of the first occurrence of the search string, and the <tt>.rfind()</tt> method to start searching from the end of the string.

If the search string is not found in the string both these methods return -1.

In [50]:
dna = "ATGTCACCGTTT"
index = dna.find("TCA")
print("TCA is at position:", index)
index = dna.rfind('C')
print("The last Cytosine is at position:", index)
print("Position of a stop codon:", dna.find("TGA"))

TCA is at position: 3
The last Cytosine is at position: 7
Position of a stop codon: -1

When we are reading text from files  (which we will see later on), often there is unwanted whitespace at the start or end of the string. We can remove leading whitespace with the <tt>.lstrip()</tt> method, trailing whitespace with <tt>.rstrip()</tt>, and whitespace from both ends with <tt>.strip()</tt>.

All of these methods return a copy of the changed string, so if you want to replace the original you can assign the result of the method call to the original variable.

In [51]:
s = "    Chromosome Start End                     "
print(len(s), s)
s = s.lstrip()
print(len(s), s)
s = s.rstrip()
print(len(s), s)
s = "    Chromosome Start End                     "
s = s.strip()
print(len(s), s)

45     Chromosome Start End
41 Chromosome Start End
20 Chromosome Start End
20 Chromosome Start End

You can split a string into a list of substrings using the <tt>.split()</tt> method, supplying the delimiter as an argument to the method. If you don't supply any delimiter the method will split the string on whitespace by default (which is very often what you want!)

To split a string into its component characters you can simply _cast_ the string to a list

In [52]:
seq = "ATG TCA CCG GGC"
codons = seq.split(" ")
print(codons)

bases = list(seq) # a tuple of character converted into a list
print(bases)

['ATG', 'TCA', 'CCG', 'GGC']
['A', 'T', 'G', ' ', 'T', 'C', 'A', ' ', 'C', 'C', 'G', ' ', 'G', 'G', 'C']

<tt>.split()</tt> is the counterpart to the <tt>.join()</tt> method that lets you join the elements of a list into a string only if all the elements are of type String:

In [53]:
seq = "ATG TCA CCG GGC"
codons = seq.split(" ")
print(codons)
print("|".join(codons))

['ATG', 'TCA', 'CCG', 'GGC']
ATG|TCA|CCG|GGC

We also saw earlier that the <tt>+</tt> operator lets you concatenate strings together into a larger string.

Note that this operator only works on variables of the same type. If you want to concatenate a string with an integer (or some other type), first you have to cast the integer to a string with the <tt>str()</tt> function.

In [54]:
s = "chr"
chrom_number = 2
print(s + str(chrom_number))

chr2

To get more information about these two methods `split()` and `join()` we could find it online in the Python documentation starting from [www.python.org](http://www.python.org) or get help using the `help()` builtin function.

In [0]:
help(str.split)
help(str.join)

## Exercise 1.3.2

1. Create a string variable with your full name in it, with your first and last name (and any middle names) seperated by a space. Split the string into a list, and print out your surname.
2. Check if your surname contains the letter "E", and print out the position of this letter in the string. Try a few other letters.

# Part 1.4: Sets and dictionaries

-------

 - Sets
 - Dictionaries

## Sets

- Sets contain unique elements, i.e. no repeats are allowed
- The elements in a set do not have an order
- Sets cannot contain elements which can be internally modified (e.g. lists and dictionaries)

In [55]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

{1, 2, 3}
set()

Sets are very similar to lists and tuples and you can use many of the same operators and functions, except they are **inherently unordered**, so they don't have an index, and can only contain _unique_ values, so adding a value already in the set will have no effect

In [56]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

You can remove specific elements from the set.

In [57]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

You can do all the expected logical operations on sets, such as taking the union or intersection of 2 sets with the <tt>|</tt> _or_ and <tt>&</tt> _and_ operators

In [58]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

Union: {2, 4, 5, 6, 7, 8, 10}
Intersection: {4, 6}

## Exercise 1.4.1

1. Given the protein sequence "MPISEPTFFEIF", split the sequence into its component amino acid codes and use a set to establish the unique amino acids in the protein and print out the result.

## Dictionaries

Lists are useful in many contexts, but often we have some data that has no inherent order and that we want to access by some useful name rather than an index. For example, as a result of some experiment we may have a set of genes and corresponding expression values. We could put the expression values in a list, but then we'd have to remember which index in the list corresponded to which gene and this would quickly get complicated.

For these situations a _dictionary_ is a very useful data structure.

Dictionaries:

- Contain a mapping of keys to values (like a word and its corresponding definition in a dictionary)
- The keys of a dictionary are unique, i.e. they cannot repeat
- The values of a dictionary can be of any data type
- The keys of a dictionary cannot be an internally modifiable type (e.g. lists, but you can use tuples)
- Dictionaries do not store data in any particular order

In [59]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print(dna)

{'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine'}

You can access values in a dictionary using the key inside square brackets

In [60]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print("A represents", dna["A"])
print("G represents", dna["G"])

A represents Adenine
G represents Guanine

An error is triggered if a key is absent from the dictionary:

In [61]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print("What about N?", dna["N"])

KeyError: ignored

You can access values safely with the <tt>get</tt> method, which gives back <tt>None</tt> if the key is absent and you can also supply a default values

In [62]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print("What about N?", dna.get("N"))
print("With a default value:", dna.get("N", "unknown"))

What about N? None
With a default value: unknown

You can check if a key is in a dictionary with the <tt>in</tt> operator, and you can negate this with <tt>not</tt>

In [63]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
"T" in dna

True

In [64]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
"Y" not in dna

True

The <tt>len()</tt> function gives back the number of (key, value) pairs in the dictionary:

In [65]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print(len(dna))

4

You can introduce new entries in the dictionary by assigning a value with a new key:

In [66]:
dna = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
dna['Y'] = 'Pyrimidine'
print(dna)

{'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine', 'Y': 'Pyrimidine'}

You can change the value for an existing key by reassigning it:

In [67]:
dna = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
dna['Y'] = 'Cytosine or Thymine'
print(dna)

{'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Cytosine or Thymine'}

You can delete entries from the dictionary:

In [68]:
dna = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
del dna['Y']
print(dna)

{'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine'}

You can get a list of all the keys (in arbitrary order) using the inbuilt <tt>.keys()</tt> function

In [69]:
dna = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
print(list(dna.keys()))

['A', 'C', 'T', 'G', 'Y']

And equivalently get a list of the values:

In [70]:
dna = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
print(list(dna.values()))

['Adenine', 'Cytosine', 'Thymine', 'Guanine', 'Pyrimidine']

And a list of tuples containing (key, value) pairs:

In [71]:
dna = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
print(list(dna.items()))

[('A', 'Adenine'), ('C', 'Cytosine'), ('T', 'Thymine'), ('G', 'Guanine'), ('Y', 'Pyrimidine')]

## Exercises 1.4.2

1. Print out the names of the amino acids that would be produced by the DNA sequence "GTT GCA CCA CAA CCG" ([See the DNA codon table](https://en.wikipedia.org/wiki/DNA_codon_table)). Split this string into the individual codons and then use a dictionary to map between codon sequences and the amino acids they encode.
2. Print each codon and its corresponding amino acid.
3. Why couldn't we build a dictionary where the keys are names of amino acids and the values are the DNA codons?

### Advanced exercise 1.4.3

- Starting with an empty dictionary, count the abundance of different residue types present in the 1-letter lysozyme protein sequence (http://www.uniprot.org/uniprot/B2R4C5.fasta) and print the results to the screen in alphabetical key order.